pipeline/marketFinance.json
{
	"name": "marketFinance",
	"properties": {
		"activities": [
			{
				"name": "CommonApp- Durable Function Call",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "orchestrator",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "CommonAppFLS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check Completed Status- CA",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "CommonApp- Durable Function Call",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(or(equals(activity('Get Current Function Status- CA').output.runtimeStatus, 'Pending'), equals(activity('Get Current Function Status- CA').output.runtimeStatus, 'Running')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait 5 seconds- CA",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						},
						{
							"name": "Get Current Function Status- CA",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait 5 seconds- CA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('CommonApp- Durable Function Call').output.statusQueryGetUri",
									"type": "Expression"
								},
								"method": "GET"
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "MarketApp- Durable Function Call",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Check Completed Status- CA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "orchestrator",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check Completed Status- MA",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "MarketApp- Durable Function Call",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(or(equals(activity('Get Current Function Status- MA').output.runtimeStatus, 'Pending'), \nequals(activity('Get Current Function Status- MA').output.runtimeStatus, 'Running')))\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait 5 seconds- MA",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						},
						{
							"name": "Get Current Function Status- MA",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait 5 seconds- MA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('MarketApp- Durable Function Call').output.statusQueryGetUri",
									"type": "Expression"
								},
								"method": "GET"
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-05-07T00:32:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}