marketFinancePipeline/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "marketFinancePipeline"
		},
		"AzureFunction1_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction1'"
		},
		"AzureFunction2_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction2'"
		},
		"CommonAppFLS_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'CommonAppFLS'"
		},
		"NewsApps_FLS_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'NewsApps_FLS'"
		},
		"StockApps_FLS_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'StockApps_FLS'"
		},
		"delete_common_app_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'delete_common_app_ls'"
		},
		"delete_old_files_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'delete_old_files_ls'"
		},
		"AzureFunction1_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://marketsapp.azurewebsites.net/api/orchestrators/orchestrator?name=Functions"
		},
		"AzureFunction2_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://stocksapps.azurewebsites.net/api/orchestrators/orchestrator?name=Functions"
		},
		"CommonAppFLS_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://commonApp.azurewebsites.net/api/orchestrators/orchestrator?name=Functions"
		},
		"NewsApps_FLS_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://newsapps.azurewebsites.net/api/orchestrators/orchestrator?name=Functions"
		},
		"StockApps_FLS_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://stockapps.azurewebsites.net/api/orchestrators/orchestrator?name=Functions"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunction1_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction1_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunction2_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction2_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CommonAppFLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('CommonAppFLS_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('CommonAppFLS_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NewsApps_FLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('NewsApps_FLS_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('NewsApps_FLS_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StockApps_FLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('StockApps_FLS_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('StockApps_FLS_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/delete_common_app_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('delete_common_app_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/delete_old_files_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('delete_old_files_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StocksApps- Durable Function Call",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrator",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "StockApps_FLS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Completed Status- SA",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "StocksApps- Durable Function Call",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(or(equals(activity('Get Current Function Status- SA').output.runtimeStatus, 'Pending'), \nequals(activity('Get Current Function Status- SA').output.runtimeStatus, 'Running')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait 5 seconds- SA",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								},
								{
									"name": "Get Current Function Status- SA",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait 5 seconds- SA",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@activity('StocksApps- Durable Function Call').output.statusQueryGetUri",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StockApps_FLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete_old_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "delete_old_files_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "MarketFinance/stock",
						"container": "marketessential"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delete_old_files_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/auto_complete')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "delete_common_app_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "MarketFinance/common",
						"container": "marketessential"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delete_common_app_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/auto_complete_old')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "delete_common_app_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "MarketFinance/common/auto_complete_old",
						"container": "marketessential"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delete_common_app_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/auto_complete_new')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "delete_common_app_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "MarketFinance/common/auto_complete_new",
						"container": "marketessential"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delete_common_app_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Market_app_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "delete_common_app_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "MarketFinance/market",
						"container": "marketessential"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delete_common_app_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stock_app_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "delete_common_app_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "MarketFinance/stock",
						"container": "marketessential"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delete_common_app_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/News_app_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "delete_common_app_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "MarketFinance/news",
						"container": "marketessential"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delete_common_app_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/marketFinance')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CommonApp- Durable Function Call",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Delete auto complete new",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrator",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "CommonAppFLS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Completed Status- CA",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "CommonApp- Durable Function Call",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(or(equals(activity('Get Current Function Status- CA').output.runtimeStatus, 'Pending'), equals(activity('Get Current Function Status- CA').output.runtimeStatus, 'Running')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait 5 seconds- CA",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								},
								{
									"name": "Get Current Function Status- CA",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait 5 seconds- CA",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@activity('CommonApp- Durable Function Call').output.statusQueryGetUri",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "MarketApp- Durable Function Call",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Delete Market App files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrator",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Completed Status- MA",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "MarketApp- Durable Function Call",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(or(equals(activity('Get Current Function Status- MA').output.runtimeStatus, 'Pending'), \nequals(activity('Get Current Function Status- MA').output.runtimeStatus, 'Running')))\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait 5 seconds- MA",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								},
								{
									"name": "Get Current Function Status- MA",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait 5 seconds- MA",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@activity('MarketApp- Durable Function Call').output.statusQueryGetUri",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "Copy Data to new to old",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete auto complete old",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "MarketFinance/common/auto_complete_new",
									"wildcardFileName": ".json",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "auto_complete_new",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "auto_complete_old",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete auto complete old",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "auto_complete_old",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "delete_common_app_ls",
									"type": "LinkedServiceReference"
								},
								"path": "marketessential/MarketFinance/common/auto_complete_old"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": ".json",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Delete auto complete new",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Data to new to old",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "auto_complete_new",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "delete_common_app_ls",
									"type": "LinkedServiceReference"
								},
								"path": "marketessential/MarketFinance/common/auto_complete_new"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": ".json",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Delete Market App files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Check Completed Status- CA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Market_app_files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "delete_common_app_ls",
									"type": "LinkedServiceReference"
								},
								"path": "marketessential/MarketFinance/market"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": ".json",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Delete Stock App files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Check Completed Status- MA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "stock_app_files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "delete_common_app_ls",
									"type": "LinkedServiceReference"
								},
								"path": "marketessential/MarketFinance/stock"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": ".json",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "StocksApps- Durable Function Call",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Delete Stock App files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrator",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "StockApps_FLS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Complete  Status- SA",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "StocksApps- Durable Function Call",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(or(equals(activity('Get Current Function Status- SA').output.runtimeStatus, 'Pending'), \nequals(activity('Get Current Function Status- SA').output.runtimeStatus, 'Running')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait 5 seconds- SA",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								},
								{
									"name": "Get Current Function Status- SA",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait 5 seconds- SA",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@activity('StocksApps- Durable Function Call').output.statusQueryGetUri",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "Delete News App files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Check Complete  Status- SA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "News_app_files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "delete_common_app_ls",
									"type": "LinkedServiceReference"
								},
								"path": "marketessential/MarketFinance/news"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": ".json",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "NewsApps- Durable Function Call",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Delete News App files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "NewsApps",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "NewsApps_FLS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Complete Status- NA",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "NewsApps- Durable Function Call",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(or(equals(activity('Get Current Function Status- NA').output.runtimeStatus, 'Pending'), \nequals(activity('Get Current Function Status- NA').output.runtimeStatus, 'Running')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait for 2 seconds",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								},
								{
									"name": "Get Current Function Status- NA",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait for 2 seconds",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@activity('NewsApps- Durable Function Call').output.statusQueryGetUri",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-07T00:32:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommonAppFLS')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureFunction1')]",
				"[concat(variables('factoryId'), '/datasets/auto_complete_new')]",
				"[concat(variables('factoryId'), '/datasets/auto_complete_old')]",
				"[concat(variables('factoryId'), '/datasets/Market_app_files')]",
				"[concat(variables('factoryId'), '/datasets/stock_app_files')]",
				"[concat(variables('factoryId'), '/linkedServices/StockApps_FLS')]",
				"[concat(variables('factoryId'), '/datasets/News_app_files')]",
				"[concat(variables('factoryId'), '/linkedServices/NewsApps_FLS')]",
				"[concat(variables('factoryId'), '/linkedServices/delete_common_app_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "marketFinance",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-07-24T09:31:00Z",
						"timeZone": "UTC",
						"schedule": {}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/marketFinance')]"
			]
		}
	]
}